.row{
	height: 768px; 
	width:100%;
	background-color: rgba(0, 0, 0, 0.5);
}

body {
	 font-family: sans-serif; text-align: center;
}
/*
.teks{
	text-align: left; margin-left: 72px; margin-top: 80px;
}
*/
